* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}




/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
body {
	width: 100%;
	height: 100%;
	background-color: #ccc;
}
h1 {
	text-align: center;
}
.forms {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	max-width: 1000px;
	min-width: 500px;
	min-height: 300px;
	margin: 2% auto;
	background-color: #ccc3e9;
	box-shadow: 0 0 10px rgba(0,0,0,0.7);
}
.forms div {
	max-width: 220px;
}
.forms div:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.7);
}
img {
	width: 100%;
	height: 100%;
}

